.invite{
  padding-bottom: 1.6rem;
  .bg-panel{
    background: url("../images/relatives/invite-bg.png") no-repeat;
    width: 100%;
    height: 6rem;
    background-size: cover;
  }
  .phone-panel{
    margin: -1rem auto 0rem auto;
    background: url("../images/relatives/phone-panel.png") no-repeat;
    width: 6.97rem;
    height: 3.69rem;
    background-size: cover;
    text-align: center;
    padding-top: 1.9rem;
    font-size: 0.4rem;
    color: #333;
  }
  .rule-panel{
    margin-top: 0.4rem;
    padding: 0rem 0.3rem;
    .panel-hd{
      background: url("../images/relatives/rule-title.png") no-repeat center;
      width: 100%;
      height: 0.8rem;
      background-size: cover;
    }
    .panel-bd{
      margin-top: 0.3rem;
    }
    .item{
      overflow: hidden;
      .icon{
        position: relative;
        top:0.24rem;
        float: left;
        display: inline-block;
        width: 0.14rem;
        height: 0.14rem;
        border-radius: 50%;
        background: #fde600;
      }
      .value{
        margin-left: 0.3rem;
        float: left;
        font-size: 0.24rem;
        color: #999;
        line-height: 0.36rem;
      }
      &+.item{
        margin-top: 0.1rem;
      }
    }
  }
  .btn-wrap{
    position: fixed;
    left: 0rem;
    bottom: 0rem;
    width: 100%;
    padding: 0.2rem 0.3rem;
    .btn{
      width: 100%;
      height: 1rem;
      line-height: 1rem;
      border-radius: 0.1rem;
      text-align: center;
      font-size: 0.32rem;
      color: #333;
      background: linear-gradient(#fbe512, #f8ce0e);
    }
  }
}
